# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
# Always end file with a single new line.
insert_final_newline = true
charset = utf-8
# Don't leave hanging whitespace at the end of the lines.
trim_trailing_whitespace = true
indent_style = space
indent_size = 2